/* Based on http://lessframework.com by Joni Korpi */

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,address,cite,code,del,dfn,em,img,ins,q,small,strong,sub,sup,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,figure,figcaption,hgroup,footer,header,nav,section {
border:0;
margin:0;
padding:0;
}

article,aside,figure,figure img,figcaption,hgroup,footer,header,nav,section {
display:block;
}

a img {
border:0;
}

figure {
position:relative;
}

figure img {
width:100%;
}

.gigantic {
font-size:110px;
line-height:120px;
letter-spacing:-2px;
}

.huge,h1 {
font-size:68px;
line-height:72px;
letter-spacing:-1px;
}

.large,h2 {
font-size:42px;
line-height:48px;
}

.big,h3 {
font-size:26px;
line-height:36px;
}

.normal,body {
font:16px/24px 'Lucida Sans', 'Lucida Grande', Helvetica, Arial, Verdana, sans-serif;
}

.small {
font-size:13px;
line-height:18px;
}

body {
width:648px;
margin:auto;
padding:10px 60px 10px;
font-size:.8em;
line-height:1.75em;
background-color:#fafafa;
color:#000;
-webkit-tap-highlight-color:#ff0;
}

a {
color:#EB5707;
}

p {
margin: 1.5em 0;
}

header {
margin: 2em 0;
background-color:lightgray;
color:#fff;
border-radius:.35em;
-moz-border-radius:.35em;
}

header h1 {
margin-left:.7em;
padding-top:.2em;
padding-bottom:.1em;
font-family:'Geo','Courier New', Courier, monospace;
font-size:3em;
line-height:1.25em;
letter-spacing:.175em;
}

#text-content {
float:left;
width:57%;
}

#text-content p:first-of-type {
margin-top:0;
}

#text-content p:first-of-type:first-letter {
float:left;
margin-left: -0.5em;
margin-top: 0.25em;
font-family:'Geo','Courier New', Courier, monospace;
font-size:3em;
color:#eb5707;
font-weight:bold;
}

#twitter-widget-ulf {
float:right;
display:inline-block;
font-family:'Lucida Sans', 'Lucida Grande', Helvetica, Arial, Verdana, sans-serif!important;
font-size:.85em!important;
width:38%;
height:25em;
}

::selection { background:#ff0; }
::-moz-selection { background:#ff0; }

.clear {
display:inline-block;
}
.clear:after {
display:block;
visibility:hidden;
clear:both;
height:0;
content: ".";
}


@media only screen and (max-width: 767px) and (min-width: 480px) {
    body {
    width:396px;
    padding:10px 42px 10px;
    -webkit-text-size-adjust:100%;
    }

    #twitter-widget-ulf {
    height:37.5em;
    }
}

@media only screen and (max-width: 479px) {
    body {
    width:228px;
    padding:10px 46px 10px;
    -webkit-text-size-adjust:100%;
    }

    header h1 {
    margin-left:.5em;
    font-size:1.775em;
    line-height:2.25em;
    }

    #text-content p:first-of-type:first-letter {
    font-size:1.775em;
    }

    #text-content {
    float:none;
    width:100%;
    padding-bottom:2em;
    }

    #twitter-widget-ulf {
    float:none;
    width:100%;
    height:27.5em;
    }
}
